<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer class="bg-dark mt-auto py-3 text-light-emphasis border-top">
    <div class="container-fluid mr-5">
        <div class="d-flex text-white">
            <div class="d-flex col-1 align-items-center justify-content-center">
            </div>
            <div class="d-flex col-3 footer-content small ">
                <div class="align-items-center">
                    <div class="">
                        <div class="">PROJECT</div>
                    </div>
                    <div class="d-flex">
                        <div>대표</div>
                        <div class="mx-2">신민기</div>
                    </div>
                    <div class="d-flex">
                        <div>대표전화</div>
                        <div class="mx-2">010-0000-0000</div>
                    </div>
                    <div class="d-flex">
                        <div>이메일</div>
                        <div class="mx-2">tlsalrl11@naver.com</div>
                    </div>
                </div>
            </div>
            <div class="d-flex col-3 align-items-center  footer-content">
                <div class="small">
                    <div class="fs-5 fw-semibold">고객센터</div>
                    <div>0000-000-000</div>
                    <div>서울시 강서구 화곡동 W타워 1203호</div>

                </div>
            </div>
            <div class="d-flex col-1 align-items-center justify-content-flued footer-content small">
                <div>
                    <div>이용약관</div>
                    <div>개인정보처리방침</div>
                    <div>홈페이지 이용약관</div>

                </div>
            </div>
            <div class="col-3 d-flex justify-content-end">
                <ul class="navbar-nav flex-row align-items-center">
                    <div>2024 by Movie Review, Inc. All rights reserved.</div>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>