.event_img {
    width: 40%;
    height: 40%;
}

.event_img2 {
    margin-left: 30px;
    width: 40%;
    height: 40%;
}


.event1 {
    text-decoration: none;
    color: white;
}

.event2 {
    text-decoration: none;
    color: white;
}