.html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#customFooter {
    z-index: -100;
}