<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- ReviewBoardMapper.xml -->
<mapper namespace="com.movie_board.movie_review.repository.CommentMapper">

    <!-- 댓글 삽입 -->
    <insert id="insertComment">
        INSERT INTO comments (reviewId, userId,movieId, userName, content, parentId, createdAt)
        VALUES (#{reviewId}, #{userId}, #{movieId}, #{userName}, #{content}, #{parentId}, #{createdAt})
    </insert>

    <select id="selectCommentsByReviewId" resultType="com.movie_board.movie_review.dto.CommentDto">
        SELECT * FROM comments WHERE reviewId = #{reviewId} ORDER BY createdAt DESC
    </select>

</mapper>