<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- ReviewBoardMapper.xml -->
<mapper namespace="com.movie_board.movie_review.repository.CommentMapper">
    <!-- 댓글 삽입 -->
    <insert id="insertComment">
        INSERT INTO comments (userId, content)
        VALUES (#{userId}, #{content})
    </insert>

    <!-- 모든 댓글 조회 -->
    <select id="selectAllComments" resultType="com.movie_board.movie_review.dto.CommentDto">
        SELECT * FROM comments
        ORDER BY createdAt ASC
    </select>

    <!-- 댓글 삭제 -->
    <delete id="deleteComment">
        DELETE FROM comments
        WHERE id = #{id}
    </delete>
</mapper>