<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.movie_board.movie_review.repository.OrderMapper">


    <insert id="insertOrder" parameterType="com.movie_board.movie_review.dto.OrderDto">
        INSERT INTO orders (userId, orderId, amount, status, createdAt, quantity, deliveryFee, deliveryAddress, phoneNumber)
        VALUES (#{userId}, #{orderId}, #{amount}, #{status}, NOW(), #{quantity}, #{deliveryFee}, #{deliveryAddress}, #{phoneNumber})
    </insert>


<!--    <select id="getOrderById" parameterType="int" resultType="com.movie_board.movie_review.dto.OrderDto">-->
<!--        SELECT * FROM orders WHERE id = #{id}-->
<!--    </select>-->


</mapper>