<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- ReviewBoardMapper.xml -->
<mapper namespace="com.movie_board.movie_review.repository.ReviewBoardMapper">

    <select id="findAllReviews" resultType="com.movie_board.movie_review.dto.ReviewBoardDto">
        SELECT id, title, body, writer, inserted
        FROM review
        ORDER BY id DESC
    </select>

    <select id="createReview">
        insert into review (writer, title, body) values (#{writer},#{title},#{body})
    </select>
</mapper>
