<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- ReviewBoardMapper.xml -->
<mapper namespace="com.movie_board.movie_review.repository.UserMapper">

    <insert id="insertUser">
        INSERT INTO users (userName, emailId, password)
        VALUES (#{userName}, #{emailId}, #{password} )
    </insert>

    <select id="findByUsername" resultType="com.movie_board.movie_review.dto.UserDto">
        SELECT userName, password, emailId
        FROM users
        WHERE emailId = #{emailId}
    </select>

    <!-- 회원 생성 -->
    <insert id="createUser" parameterType="com.movie_board.movie_review.dto.UserDto">
        INSERT INTO users (userName, emailId, password, createdAt)
        VALUES (#{userName}, #{emailId}, #{password}, NOW())
    </insert>

    <!-- 이메일로 회원 찾기 -->
    <select id="findByEmail" resultType="com.movie_board.movie_review.dto.UserDto">
        SELECT id, userName, emailId, password, createdAt
        FROM users
        WHERE email_id = #{emailId}
    </select>

    <!--  이메일로 사용자 정보를 찾는 쿼리  -->
    <select id="findUserByEmail" resultType="com.movie_board.movie_review.dto.FindPasswordDto">
        SELECT * FROM findpassword WHERE email = #{email}
    </select>

<!--   사용자 비밀번호를 업데이트하는 쿼리  -->
    <update id="updateUserPassword">
        UPDATE findpassword
        SET newPassword = #{newPassword}
        WHERE email = #{email}
    </update>

</mapper>

